<ion-card class="animated fadeIn fast">
    <ion-card-header>
        <ion-card-subtitle>
            <span class="text-primary">{{i + 1}}.</span>
            <span class="noticia-source-name">{{item.source.name}}</span>


            <div class="noticia-more">
                <ion-button fill="clear" (click)="lanzarMenu()" color="primary">
                    <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </div>
        </ion-card-subtitle>
        <ion-card-title (click)="abrirNoticia()">{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-img (click)="abrirNoticia()" *ngIf="item.urlToImage" [src]="item.urlToImage" class="animated fadeIn fast"></ion-img>
    <ion-card-content>
        <p>
            {{item.description}}
        </p>
    </ion-card-content>
</ion-card>
