<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Favoritos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



    <ion-slides [options]="sliderOpts" *ngIf="localstorageService.noticias.length === 0" mode="ios" scrollbar="ios">
        <ion-slide>
            <ion-label>No hay favoritos</ion-label>
        </ion-slide>
    </ion-slides>
    <app-noticias *ngIf="localstorageService.noticias.length > 0" [noticias]="localstorageService.noticias"></app-noticias>
</ion-content>
